.card {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 12rem;
  height:12rem;
  border: 8px solid rgb(250, 219, 43);
  border-radius: 10px;
  background-color:beige;
  text-align: center;
  
}

@media screen and (max-width: 600px){
  .card{
    width: 9rem;
    height:9rem; 
  };   
}
  
  

