.front-card {
  margin: 0.4rem;
  padding: 0.4rem;
  width: 8rem;
  height:8rem;
  border: 6px solid rgb(241, 207, 51);
  border-radius: 10px;
  background-color:white;
  text-align: center;
  align-content: center;
  cursor: pointer;
}

.back-card {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0.4rem;
  padding: 0.4rem;
  border: 4px solid rgb(28, 99, 7);
  border-radius: 10px;
  background-color:beige;
  text-align: center;
  align-content: center;
  cursor: pointer;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  padding: 1.5rem;
}
.card-grid-lvl3{
  grid-template-columns: 1fr 1fr 1fr 1fr  ;
  padding-top:0;
  text-align: center;
}
.screen-split{
  display:flex;
  padding:3px;
}

.card .front-card {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front-card {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back-card {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back-card {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media screen and (max-width: 680px) {
  
  .card-grid-lvl3{
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    padding-top:15px;
    padding-right:40px;
    text-align: center;
  }
 
  .front-card {
    
    
    width: 4.6rem;
    height:4.6rem;
    border: 6px solid rgb(241, 207, 4.41);
    border-radius: 10px;
    background-color:white;
    text-align: center;
    align-content: center;
    cursor: pointer;
  }
  
  .back-card {
    width: 4.6rem;
    height: 4.6rem;
   
    
    border: 3px solid rgb(28, 99, 7);
    border-radius: 10px;
    background-color:beige;
    text-align: center;
    align-content: center;
    cursor: pointer;
  }
}