.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.container > h1 {
  font-size: 2.5rem;
   
}

.level-links > button {
  padding: 1rem 2rem;
  margin: 1rem;
  color: black;
  border: 1px solid black;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  width: 200px;
 
}

.level-links > button:hover {
  box-shadow: 0 0 2rem rgba($color: #0066ff, $alpha: 0.5);
  border: 1px solid #0066ff;
  color: #0066ff;
}

.level-links {
  margin-top: 2rem;
}
.star{
  height:40px;
  width:40px;
  
}

@media screen and (max-width: 600px) {
  .level-links {
    text-align: center;
    border:blue solid 2px;
  }
}