.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.container > h1 {
  font-size: 2.5rem;
}
.container-lvl3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.gameTitle{
  font-size: 2rem;
  font-weight: 700;
  color:rgb(78, 41, 117);
}
.gameTitle-lvl3 {
  font-size: 2.5rem;
  font-weight: 700;
  color:rgb(78, 41, 117);
  padding-top:15px;
  padding-left:30px;
  padding-right:20px;
   
}
.gameTitleMobile-lvl3 {
  display:none;
}
.stars-lvl3{
  padding-top:25px;
  padding-left:30px;
  text-align:center;
  width:60px;
}
.guessesTitle{
  font-size: 2rem;
  font-weight: 700;
  color:rgb(78, 41, 117);
}
.guesses-lvl3{
  font-size: 2rem;
  font-weight: 700;
  color:rgb(78, 41, 117);
  padding-left:30px;
  padding-right:15px;
  text-align:center;
}
.guessesMobile-lvl3 {
  display:none;
}


.level-links > button {
  padding: 1rem 2rem;
  margin: 1rem;
  color: black;
  border: 1px solid black;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  width: 200px;
 
}

.level-links > button:hover {
  box-shadow: 0 0 2rem rgba($color: #0066ff, $alpha: 0.5);
  border: 1px solid #0066ff;
  color: #0066ff;
}

.level-links {
  margin-top: 2rem;
}
.star{
  height:40px;
  width:40px;
}

@media screen and (max-width: 600px) {
  .level-links {
    text-align: center;
  }
  .stars-lvl3{
    display:none;
  }
 
  .gameTitle-lvl3 {
    display:none;
  }
  .gameTitleMobile-lvl3 {
    display:contents;
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(78, 41, 117);
  }
  .guessesMobile-lvl3{
    font-size:2.3rem;
    color:rgb(78, 41, 117);
    font-weight: 700;
  }
 
  .top-level{
    text-align: center;
    padding-top:20px;
  }

  .guesses-lvl3{
    display:none;
  }
  .screen-split{
    display:block;
  }
}

