.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.container > h1 {
  font-size: 2.5rem;
}
.level-select{
  padding-top:6rem;
  // align-self: center;
}
.container-lvl3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.left-side{
  width:30%;
}
.right-side{
  width:30%;
}
.dino-level1{
  padding-top:3rem;
  width: 13rem;
  padding-left: 20px;;
}
.gameTitle{
  font-size: 2rem;
  font-weight: 700;
  color:rgb(78, 41, 117);
}
.gameTitle-lvl3 {
  font-size: 2.5rem;
  font-weight: 700;
  color:rgb(78, 41, 117);
  padding-top:15px;
  padding-left:30px;
  padding-right:20px;
}
.gameTitleMobile-lvl3 {
  display:none;
  
}
.star1-level1{
  text-align:center;
  width:60px;
  padding:10px;
  // margin-left:30px;
  margin-bottom:30px;
}
.star2-level1{
  text-align:center;
  width:80px;
  padding:10px;
}
.star3-level1{
  
  width:80px;
  padding:10px;
  margin-left:80px;
}
.star4-level1{
  
  width:80px;
  margin-left:80px;
}
.stars-lvl3{
  padding-top:25px;
  padding-left:30px;
  text-align:center;
  width:60px;
}
.guessesTitle{
  font-size: 2rem;
  font-weight: 700;
  color:rgb(78, 41, 117);
}
.guesses-lvl3{
  font-size: 2rem;
  font-weight: 700;
  color:rgb(78, 41, 117);
  padding-left:30px;
  padding-right:15px;
  text-align:center;
}
.guessesMobile-lvl3 {
  font-size: 0;
}


.level-links > button {
  padding: 1rem 2rem;
  margin: 1rem;
  color: black;
  border: 1px solid black;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  width: 200px;
}

.level-links > button:hover {
  box-shadow: 0 0 2rem rgba($color: #0066ff, $alpha: 0.5);
  border: 1px solid #0066ff;
  color: #0066ff;
}

.level-links {
  margin-top: 6rem;
}
.star{
  height:40px;
  width:40px;
}

@media screen and (max-width: 700px) {
  .level-links {
    text-align: center;
  }
  
  .stars-lvl3{
    display:none;
  }
  .gameTitle{
    font-size: 2rem;
    font-weight: 700;
    color:rgb(78, 41, 117);
    padding-bottom:0;
  }
  .gameTitle-lvl3 {
    display:none;
   
  }
  .gameTitleMobile-lvl3 {
    display:contents;
    font-size: 2rem;
    font-weight: 700;
    color:rgb(78, 41, 117);
    padding: 18px;
  }
  .guessesTitle{
    font-size: 2rem;
    font-weight: 700;
    margin-top:0;
  }
  .guessesMobile-lvl3{
    display:content;
    font-size:1.5rem;
    color:rgb(78, 41, 117);
    font-weight: 700;
    margin:30px;
  }
  .level-select{
    padding-top:0;
  }
  .top-level{
    text-align: center;
    padding-top:20px;
  }

  .guesses-lvl3{
    display:none;
  }
  .screen-split{
    display:block;
  }
  .star4-level1{
    padding-bottom:10px;
    width:75px;
 
    margin-left:0px;
  }
  .star3-level1{
      margin-left:0;
  }
  .stars-row{
    padding-top:0px;
  }
 

}

