.nav-items {
  display: inline-flex;
  justify-content: space-between;
  height: 3.75rem;
  width: 100%;
  background-color: transparent;
}

.nav-home {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 2px 30px 2px 30px;
}
