.nav-items {
    display: inline-flex;
    justify-content: space-between;
    height: 60px;
    width:100%;
    background-color:rgb(247, 237, 247);
}
    
  
   .nav-home{
    height:inherit;    
    display:flex;
    justify-content: space-between;
    align-content:center;
    margin: 1px 30px 2px 30px;
   
  }
 