.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
  margin-left: auto;
  margin-right: auto;
}

.form {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .btn {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 30px;
    width: 100%;
  }
  .input-cont {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;
    input {
      height: 30px;
      width: 100%;
    }
  }
}
