.cardDiv1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cardDiv2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cardDiv3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.finish {
  padding: 1rem 2rem;
  margin: 1rem;
  color: black;
  border: 1px solid black;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  width: 200px;
}

.finish:hover {
  box-shadow: 0 0 2rem rgba($color: #0066ff, $alpha: 0.5);
  border: 1px solid #0066ff;
  color: #0066ff;
}